<div class="wrapper"  *ngIf="employees && employees.length && departments; else noData">
    <h4>List of all employees</h4>
    <table id="tableData">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Active</th>
                <th>Department</th>
                <th *ngIf="hasScopes"></th>
                <th *ngIf="hasScopes"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employees; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td [ngSwitch]="item.isActive">
                    <span *ngSwitchCase="1">Yes</span>
                    <span *ngSwitchDefault>No</span>
                </td>
                <td>{{getDepName(item.emp_depID)}}</td>
                <td *ngIf="hasScopes">
                    <button class="btn btn-danger btn-xs" (click)="removeEmployee(item)">
                        Delete
                    </button>
                </td>
                <td *ngIf="hasScopes">
                    <button class="btn btn-primary btn-xs" (click)="editEmployeePage(item.id)">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>    
<div class="createButton" *ngIf="hasScopes">
    <button id="createButton" class="btn btn-primary btn-sm" (click)="createEmployeePage()">
        Create New Employee
    </button>
</div>
<pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" class="pagination-sm"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)">
</pagination>

<ng-template #noData><div class="loading">
    <img src="../../app/images/loading.svg" alt="loading">
</div></ng-template>